@import 'variables';

.font-style(@fontSize, @fontColor:@text-color, @fontFamily: @font-family) {
  font-size: @fontSize;
  font: @fontColor;
}

.width-height(@width, @hight) {
  width: @width;
  height: @hight;
}

.margin-size(@top, @right, @bottom, @left) {
  margin-top: @top;
  margin-right: @right;
  margin-bottom: @bottom;
  margin-left: @left;
}

.padding-size(@top, @right, @bottom, @left) {
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.bg-color(@bgColor) {
  background-color: @bgColor;
}

html {
  .font-style(@base-font-size);
}

body {
  .bg-color(@gray);
  .font-style(1em);
}

h1 {
  .font-style(2.4em);
}

h2 {
  .font-style(2em);
}

h3 {
  .font-style(2em);
}

p {
  .font-style(1.3em);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  .margin-size(0, 0, 0, 0);
  .padding-size(0, 0, 0, 0);
  list-style: none;
}

.container {
  .bg-color(@white);
  .margin-size(5%, 19%, 5%, 19%);
}

.basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-li {
  position: relative;
  top: -80px;
}

img {
  .width-height(150px, 150px);
  border-radius: 50%;
  overflow: hidden;
}

.basic-info li {
  .font-style(20px);
  text-align: center;
}

.hello {
  position: relative;
  top: -50px;
}

.desc {
  position: relative;
  top: -30px;
}

hr {
  .width-height(90%, 1px);
}

.edu li {
  padding-bottom: 50px;
}

.extend-info {
  .padding-size(@base-padding, 0, @base-padding, 0);
  .margin-size(0, 5%, 0, 5%);
}

.extend-info h3 {
  .padding-size(0, 0, @base-padding, 0);
  color: red;
}

.edu-year {
  .padding-size(0, 50px, 0, 0);
  .width-height(50px, 50px);
  .font-style(15px);
  float: left;
}

.edu-desc {
  .bg-color(@background);
  .padding-size(10px, 0, 10px, 10px);
  .margin-size(0, 2%, 0, 90px);
}

.edu-desc strong {
  .font-style(14px);
}
