.image-size {
  width: 150px;
  height: 150px;
}
html {
  font-size: 10px;
  font: #363636;
}
body {
  background-color: #ededed;
  font-size: 1em;
  font: #363636;
}
h1 {
  font-size: 2.4em;
  font: #363636;
}
h2 {
  font-size: 2em;
  font: #363636;
}
h3 {
  font-size: 2em;
  font: #363636;
}
p {
  font-size: 1.3em;
  font: #363636;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.container {
  background-color: #fff;
  margin-top: 5%;
  margin-right: 19%;
  margin-bottom: 5%;
  margin-left: 19%;
}
.basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-li {
  position: relative;
  top: -80px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.basic-info li {
  font-size: 20px;
  font: #363636;
  text-align: center;
}
.hello {
  position: relative;
  top: -50px;
}
.desc {
  position: relative;
  top: -30px;
}
hr {
  width: 90%;
  height: 1px;
}
.edu li {
  padding-bottom: 50px;
}
.extend-info {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  margin-top: 0;
  margin-right: 5%;
  margin-bottom: 0;
  margin-left: 5%;
}
.extend-info h3 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  color: red;
}
.edu-year {
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 0;
  width: 50px;
  height: 50px;
  font-size: 15px;
  font: #363636;
  float: left;
}
.edu-desc {
  background-color: #ededed;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 90px;
}
.edu-desc strong {
  font-size: 14px;
  font: #363636;
}
